.darkblue 	{ color: #272663; }
.offwhite 	{ color: #ECECF6; }
.yellow 		{ color: #FBDD83; }
.lilac 			{ color: #A9A3D0; }
.coral 			{ color: #EA7972; }
.lightbeige { color: #F6DFD4; }
.beige 			{ color: #CBA08E; }